extends layout
block content
    .div.py-3
        h1= title
        body
        
            .div.col-12.col-sm-4
                img(src='/images/kaylee_booth_setup.jpg' height='500' width='500' )

            .div.col-12.col-sm-8
                h2= bioName
                p= bioText1
                p= bioText2
                p= bioText3
